$primary-color: #44d393 !default;
$secondary-color: #9AA2AC !default;

$a: #44d393;

body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    padding: 20px;

    background-color: rgba(244, 220, 220, 0.9);
}
